.bg{
     background-color:white;
     height: 100vh;
     padding: 12px;
     text-align: left;
    margin-top: 0cm;
    margin-right: 3%;
    margin-left: 3%;
    visibility: inherit;
}
 .head{
     font-size: 30px;
     color: rgb(32, 58, 58);
     font-weight: bold;
     
 }
 .img{
     height: 300px;
     width: 300px;
     margin: 10px;
     align-items: center;
    
 }
 .paragraph{
     font-size: 18px;
     color:rgba(58, 64, 52, 0.892);
     text-align: justify;
     font-family: Georgia, 'Times New Roman', Times, serif;
   
 }
 .jpj2{
    height: 400px;
    width: 400px;
    margin: 10px;

 }

 
 